@{
    Layout = "_Layout";
    ViewData["Title"] = "Pizzeria da Luigi";
}
@model List<Pizza>;

<div class="container">
    <div class="row mt-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrizione</th>
                <th scope="col">Foto</th>
                <th scope="col">Prezzo</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Pizza pizza in Model)
            {
            <tr>
                <th scope="row">@pizza.Name</th>
                <td>@pizza.Ingredients</td>
                <td>
                    <img src="@pizza.ImgPath" alt="Pizza @pizza.Name" class="img-fluid" style="height:200px">
                </td>
                <td>€ @(pizza.Price.ToString())</td>
            </tr>
                    
            }
        </tbody>
    </table>
    </div>
</div>